ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #3dff2f;
    padding: 0;
    margin: 0;
}
li {
    float: left;
}
li a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, serif;
}
li a:hover {
    background-color: black;
}